# Node.js / React
client/node_modules/
client/dist/
client/.env

# Python / FastAPI
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
.env
venv/
.env.*

# VSCode and editor settings
.vscode/
*.swp
.DS_Store

# OS/Temp
Thumbs.db
.idea/
*.bak
*.tmp
*.log

# Build
build/
dist/
*.egg-info/
